QAbstractItemView
{
    border: 1px solid #b6b6b6;
}

QAbstractItemView::item:hover 
{
    background: #e7d9fd;
}

QAbstractItemView::item:selected:active
{
    background: #9d66f7;
}


/* Setting the TabBar's left and right arrow's background color explicitly because the Qt default is transparent
   which looks incorrect when overlapping tabs. */
QTabBar QToolButton
{
    background: #EEEEEE;
}

QTabBar
{
    background: #2e2e2e;
}

QDockWidget::title
{
   background: #535353 !important;
   text-align: center;
   border: 1px solid #222222 !important;
   color: #aaa !important;
}
QTabBar::tab
{
    border: 1px solid #222 !important;
    border-bottom: 0;
    background: #2e2e2e !important;
    color: #aaa !important;
    padding-left: 14px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

QTabBar::tab:selected {
    background: #252525 !important;
    color: #eee !important;
    padding-top: 2px !important;
}
QTabBar::tab:hover {
    background: #e7d9fd !important;
}
QTabBar::tab:selected:hover {
    background: #2e2e2e !important;
}
